{% for item in items %}
	<div class="{{ item.classes | join(' ') }}">
		<a href="{{ item.link }}"
			target="{{ item.target }}"
			title="{{ item.title }}"
			class="block text-xl font-semibold text-white duration-200 transition-color hover:text-red">

			 {{ item.title }}
		</a>

		{% if item.children %}
			{% include 'menus/menu-footer-children.twig' with { 'items': item.children } %}
		{% endif %}
	</div>
{% endfor %}
