{% if primary_menu %}
	<div class="relative z-20 flex justify-end w-4/12 lg:hidden">
		<button class="w-8 focus:outline-none"
			@click="toggleMenu(!open)">

			<span class="block w-full h-1 mb-1 transition-all transform bg-current rounded-md"
				:class="open ? 'rotate-45 translate-y-2' : ''"></span>
			<span class="block w-full h-1 mb-1 transition-all transform bg-current rounded-md"
				:class="open ? 'opacity-0' : ''"></span>
			<span class="block w-full h-1 transition-all transform bg-current rounded-md"
				:class="open ? '-rotate-45 -translate-y-2' : ''"></span>
		</button>
	</div>

	<div :class="drawerContainerClasses" x-cloak
		class="fixed top-0 left-0 z-10 h-screen pt-20 transition-transform duration-300 transform bg-black lg:static lg:h-auto lg:flex lg:items-center xl:justify-end lg:translate-x-0 lg:pt-0 w-72 sm:w-80 md:w-96 lg:w-10/12 xl:w-9/12 2xl:w-8/12 lg:bg-transparent">

		<ul class="flex flex-wrap w-full px-6 py-3 lg:flex-nowrap lg:items-center lg:justify-end sm:px-10 lg:px-0 lg:pl-4">

			{% for item in items %}
				<li class="relative px-3 lg:px-4 xl:px-5 py-2 w-full lg:w-auto {{ item.classes | join(' ') }}"
					x-data="{ active: false, mobile: false }"
					@mouseover="active = true"
					@mouseleave="active = false">

					<a href="{{ item.link }}"
						target="{{ item.target }}"
						title="{{ item.title }}"
						class="flex items-stretch justify-between transition-colors duration-200 lg:block lg:whitespace-nowrap">

						{{ item.title }}

						{% if item.children %}
							<span class="items-center px-4 lg:hidden"
								@click="mobile = !mobile; active = !active; $event.preventDefault();">
								<svg class="w-5 h-5 ml-2 -mr-1 transition-transform duration-100 transform"
									:class="mobile ? '-rotate-180' : ''"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 20 20"
									fill="currentColor"
									aria-hidden="true">
									<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
								</svg>
							</span>
						{% endif %}

						<span class="hidden lg:block active-indicator absolute transition-colors duration-200 bottom-0.5 left-0 right-0 mx-auto rounded-full w-1.5 h-1.5"></span>
					</a>

					{% include 'menus/menu-primary-children.twig' with { 'items': item.children } %}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
