<nav class="top-0 left-0 z-40 w-full transition-transform transform xl:text-lg"
	x-data="HeaderMenu"
	:class="menuContainerClasses"
	@scroll.window="watchScroll()">

	<div class="container flex flex-wrap items-center justify-between px-4 py-4 mx-auto xl:py-6"
		@click.away="toggleMenu(false)"
		x-cloak>

		<a class="block w-8/12 pr-4 overflow-hidden sm:w-4/12 lg:w-2/12 xl:w-3/12 2xl:w-4/12"
			href="{{ site.url }}"
			title="{{ site.name }}">

			{% if header_logo %}
				<img src="{{ header_logo }}" class="w-56 max-w-full" alt="{{ site.description }}" />
			{% else %}
				<span class="text-xl font-bold xl:text-2xl">
					{{ site.name }}
				</span>
			{% endif %}
		</a>

		{% include "menu-primary.twig" with { 'items': primary_menu.get_items } %}

	</div>
</nav>
