{% for item in items %}
	<div>
		<a href="{{ item.link }}"
			target="{{ item.target }}"
			title="{{ item.title }}"
			class="{{ item.classes | join(' ') }} block text-white text-xl font-semibold transition-color duration-200 hover:text-red">

			 {{ item.title }}
		</a>

		{% if item.children %}
			{% include 'menu-footer-children.twig' with { 'items': item.children } %}
		{% endif %}
	</div>
{% endfor %}
